/*Modal Chat Box*/
#chat-modal-tab {
    margin-right: 0px !important;
    margin-top:5px!important;
    width:130px!important;
    overflow:scroll;
}
#chat-modal-tabContent {
    margin: 0px !important;
    margin-top:-10px!important;
    margin-bottom:-10px!important;
    height:auto;
    padding:0px!important;
    width: auto;
}

#chat-modal-tab > .nav-link.active {
    background-image: linear-gradient(to right,#DCDCDC50,#DCDCDCDC,#DCDCDC50);
}

.chatModalNavBtn {
    min-height: fit-content;
    max-height: 3rem;
    max-width: 129px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    border-radius: 0px !important;
    background-color: inherit !important;
    color: var(--bs-gray-700) !important;
}



.modal-chat-notify-spot {
    white-space: nowrap;
    margin-left: -10px;
    display: inline-block;
    vertical-align:middle!important;
}

.in-modal-chat-title {
    align-self: center;
    min-height:28px!important;
}
